@tailwind base;
@tailwind components;
@tailwind utilities;

/* poppins-300 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: local(''),
    url('../../public/fonts/poppins-v20-latin-300.woff2') format('woff2');
}
/* poppins-regular - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local(''),
    url('../../public/fonts/poppins-v20-latin-regular.woff2') format('woff2');
}
/* poppins-500 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: local(''),
    url('../../public/fonts/poppins-v20-latin-500.woff2') format('woff2');
}
/* poppins-600 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local(''),
    url('../../public/fonts/poppins-v20-latin-600.woff2') format('woff2');
}
/* poppins-700 - latin */
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local(''),
    url('../../public/fonts/poppins-v20-latin-700.woff2') format('woff2');
}

@layer base {
  html {
    font-family: Poppins, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  }
}
